<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asteroides"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/tituloAplicacion" >
        <activity
            android:name="com.example.asteroides.Asteroides"
            android:label="@string/tituloAplicacion" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Acerca de ..." android:name="AcercaDe" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="Preferencias" android:label="Configurar" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name="Puntuaciones" android:label="Puntuaciones"></activity>
        <activity android:name="Juego" android:label="Juego" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>